
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
<div class="col s6">
    <h1 class="text-center m-5" >Doctor Details</h1>
  </div>
    <div class="data row  d-flex flex-row flex-wrap p-5 m-5">
       <div class="col-2"></div>

        <div class="col-5 col-md-6 col-sm8">
            <img class="img-fluid bg-dark m-5 p-5 rounded" src="https://www.microchip.com/en-us/solutions/medical/_jcr_content/root/responsivegrid/container_2045585496/cardgrid/card1/image.coreimg.jpeg/1666388771990/adobestock-195057202.jpeg">
        </div>

        <div class="col-1"></div>

        <div class="content col-6 col-md-4 col-sm-10 m-5 h-100 w-50 card p-5">
        <div class="name" *ngIf="objdata">
           
            <p class="data-content card-header">
               Name :  
               <strong> {{objdata.name}} </strong>
                
            </p>
            <p class="card-body">#22 players</p>
            <p class="card-body">
                 prize  :  <br> 
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                    <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                  </svg>
                  <i class="bi bi-currency-dollar "></i> {{objdata.matricule}}
                 
             </p>

            <p class="card-body">
                Status : {{objdata.email}}
                
            </p>
        
            
          
           
        
          
            <p class="card-body">
                 minimum number of participants :
                 {{objdata.phone}}
                
            </p>
            <p class="card-body">
               CIN :
                 {{objdata.cin}}
                
            </p>

            <p class="card-body">Tournament creator <br> Rania </p>
            <div class="row">
            <div class="links card  col-6  d-flex flex-row flex-wrap  w-auto  mb-3 text-center"> 
                <a class="btn btn-primary rounded m-5 " href="#">Participate</a>
                <a class="btn btn-primary rounded m-5" routerLink="/components/tournament-list">Delete</a>
            </div>  </div>
            <div class="col-1 col-md-0 col-sm-0"></div> 
        </div>
        </div>

      


    

    </div>


