<div class="navv">
  <div class="hero_area">
    <!-- Header section starts -->
    <header class="header_section">
      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
              <img src="assets/useful/images/TrustCareMedical_logo.png" alt="TrustCareMedical Logo">
            </a>

            <!-- Toggler/collapsible Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="d-flex mr-auto flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav">
                  <!-- Home link -->
                  <li class="nav-item active">
                    <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <!-- About link -->
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/home/about">About</a>
                  </li>
                  <!-- Treatment link -->
                  <li class="nav-item">
                    <a class="nav-link" href="/home/recorder">Treatment</a>
                  </li>

                  <!-- Doctors link -->
                  <li class="nav-item">
                    <a class="nav-link" href="#">Doctors</a>
                  </li>
                  <!-- Contact Us link -->
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/home/contact">Contact Us</a>
                  </li>
                </ul>
              </div>

              <!-- Right side buttons -->
              <div class="ml-auto d-flex align-items-center">
                <!-- Login link -->
                <a routerLink="/home/signin" class="btn btn-link">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <span>Login</span>
                </a>
                <!-- Sign Up link -->
                <a routerLink="/home/signup" class="btn btn-link">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <span>Sign Up</span>
                </a>
                <!-- Search button -->
                <form class="form-inline ml-3">
                  <button class="btn nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- End header section -->
  </div>
</div>
