
<body>
    <div class="footer">
        <div class="footer-content">
            <div class="logo">
                <img src="./assets/useful/images/TrustCareMedical_logo.png" alt="Logo de l'entreprise">
            </div>
            <div class="footer-section">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">DOCTORS</a></li>
                    <li><a href="#">CONTACT US</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Contact</h3>
                <p>Petite Ariana<br>Ariana, Tunisie</p>
                <p>Email : contact@example.com</p>
                <p>Phone : +216 99 999 999</p>
            </div>
            <div class="footer-section">
                <h3>Follow us</h3>
                <ul class="social-icons">
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li> 
                </ul>
            </div>
        </div>
    </div>
</body>
